<h1>Todo List</h1>
<div>
    <label for="">Add Todo</label>
    <input type="text" [(ngModel)]="newTodo">
    <button id="submit" (click)="addTodo(newTodo)">Add</button>
</div>
<ul id="todos">
    <li *ngFor="let todo of todos">{{todo.name}} <button (click)="deleteTodo(todo._id)">Delete</button></li>
</ul>
